@charset "UTF-8";

.sec_h3.reciperanking { background-image: url("../../image/sp/ranking_icon.png"); background-position: 9px 50%; line-height: 1.2; padding: 5px 5px 5px 40px;}
.sec_h3 p {display: table-cell; vertical-align: middle;}
.sec_h3.collabo { background-image: url("../../image/sp/collabo_icon.png"); padding-right:5px;}
.recipeSearch { margin-bottom:15px;}
.recipeSearch .KwSearch_top {background: none repeat scroll 0 0 #fff;  border-bottom: none; padding: 10px;}
.ctgSelect {margin:0 10px; list-style:none; border-top: 1px solid #ece4d2;}
.ctgSelect ul { list-style:none; display: none;}
.ctgSelect li.selected > ul { display: block;}
.ctgSelect legend {
	width:100%;
    background-image: url("../../image/sp/new/accordion_2.png");
    background-position: 97% 8px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ece4d2;
	border-left:3px solid #5b3219;
	border-right: 1px solid #ece4d2;
	box-sizing:border-box;
}
.ctgSelect legend span {
    color: #2f1708;
    display:block;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 0 5px 10px;
    text-decoration: none;
}
.ctgSelect legend.selected { background-image: url("../../image/sp/new/accordion_3.png"); background-position: 97% 8px; background-repeat: no-repeat;}
.recipeSearch_button {margin:10px 0;}
.recipeSearch_button a {
    background: linear-gradient(to bottom, #a7653e 1%, #5b3219 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #5b3219;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}
.ctgSelect fieldset > ul{margin:0 auto; overflow:hidden; padding:5px 5px 10px; width:100%; background-color:#f8f6f2; border-bottom: 1px solid #ece4d2; box-sizing:border-box;}
input[type=radio], input[type=checkbox] {display: none;}
.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display:block;
  margin:5px 1% 0 1%;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #fff, #eee) repeat scroll 0 0 transparent;
  border: 1px solid #ddd;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1em;
  line-height:1.1;
}
.ctgSeparate .all.selected .allcheck {font-weight:normal;}
.ctgSeparate .selected input[type="radio"]:checked+label{background:linear-gradient(to bottom, #fff, #ffd3e1) repeat scroll 0 0 transparent;}
.ctgSeparate .selected input[type="radio"]:checked+label.allcheck{background: none;}
.ctgSeparate .selected .radio.bg_pink {background:linear-gradient(to bottom, #fff, #ffd3e1) repeat scroll 0 0 transparent;}
.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}
.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f7767c;
  content: '';
  opacity: 0;
}
.ctgSeparate .allcheck {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 0px 5px 30px;
  vertical-align: middle;
  cursor: pointer;
}
.ctgSeparate .allcheck:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}
.ctgSeparate .allcheck:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f7767c;
  content: '';
  opacity: 0;
}
.ctgSeparate .all .allcheck { padding: 5px 0px 5px 25px; font-size:12px;}
.ctgSeparate .all .allcheck:after { position: absolute; top: 50%; left: 0;}
.ctgSeparate .all .allcheck:before { position: absolute; top: 50%; left: 5px;}
input[type=radio]:checked + .radio:before, input[type=radio]:checked + .allcheck:before { opacity: 1;}
.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.1s linear;
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #f7767c;
  border-bottom: 3px solid #f7767c;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before { opacity: 1;}
.ctgSelect .foodctg > li{
	border-bottom: 1px solid #ece4d2;
	background-image: url("../../image/sp/arrows_bottom.png");
	background-size:15px;
	background-repeat: no-repeat;
	background-position: 96% 8px;
	padding:5px 0 5px 10px;
	float:none;
}
.ctgSelect .foodctg > li.selected{background-image: url("../../image/sp/arrows_top.png"); background-size:15px;	background-repeat: no-repeat; background-position: 96% 8px;}
.ctgSelect .foodctg {padding:0; background-color:#f8f6f2; width:100%; border-bottom:none;}
.ctgSelect .foodctg .ctgSeparate {padding:5px 0;}
.ctgSelect .foodctg .ctgSeparate > li {
	padding:5px 8px; margin:1px 10px 0 0;
	background:#fff;
	background-image: url("../../image/sp/arrows_area_bottom.png");
	background-size:15px;
	background-repeat: no-repeat;
	background-position: 97% 8px;
	}
.ctgSelect .foodctg .ctgSeparate.bg_all > li { background-color:#fff2f6; background-image: url("../../image/sp/arrows_area_bottom.png"); background-size:15px;	background-repeat: no-repeat; background-position: 97% 8px;}
.ctgSelect .foodctg .ctgSeparate.bg_all .all {padding-bottom:0; background:#fff;}
.ctgSelect .foodctg .ctgSeparate > li.selected {
	background-image: url("../../image/sp/arrows_area_top.png");
	background-size:15px;
	background-repeat: no-repeat;
	background-position: 97% 8px;
	font-weight:bold;
	}
.ctgSelect .foodctg .ctgSeparate > li:first-child,.ctgSelect .foodctg .ctgSeparate > li:first-child.selected { background-image: none;}
.ctgSelect .foodctg .ctgSeparate .all {padding-bottom:0;}
.ctgSelect .foodctg li ul li ul{ background:#fff; margin-top:5px; padding:5px 2px 10px; border-top:1px dotted #ece4d2; overflow:hidden; font-weight:normal;}
.ctgSelect .foodctg li ul li ul li p {font-size:12px; color:#333; display:inline-block;}
.ctgSelect .foodctg li ul li ul li span{ width:50%; float:left;}
.recipeInner div{ padding:0 5px;}
.recipeInner .sec_h3 {width:100%; display: table; box-sizing: border-box;}
.recipeInner .more { display:table-cell; vertical-align:middle; font-size:12px; line-height:14px; text-align:right; width:90px;}
.recipeInner .more a {text-decoration:none; color:#fff; background:#5b3219; border-radius:5px; display: block; padding:3px 5px; text-align:center;}
.recipeInner .more a:after {content:"\f138"; font-family: FontAwesome; padding-left:5px; }
.recipeInner ul {display:table; table-layout: fixed; width:100%; margin:10px 0 0; text-align:center;}
.recipeInner ul li {display:table-cell; vertical-align:top;}
.recipeInner ul li a {color: #5b3219; text-decoration: none; line-height:16px;}
.recipeInner ul li a span {display:block;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.recipeInner .no1:before { content:url("../../image/sp/icon_rank1.png"); display: block;}
.recipeInner .no2:before { content:url("../../image/sp/icon_rank2.png"); display: block;}
.recipeInner .no3:before { content:url("../../image/sp/icon_rank3.png"); display: block;}
.photoregulate ul li img {max-width: 180px; height:auto; width:97%;}
.ctgBtn {width:100%;}
.Btn_3clm { margin:10px 10px 0; overflow:hidden;}
.Btn_3clm li{float:left; width:33.2%; list-style:none;}
.Btn_3clm li a {text-align:center; text-decoration:none; font-size:12px; display:block; color: #675749;	vertical-align:middle; display:table-cell;}
.Btn_3clm li p.Btn span{
	display: block;
	height: auto;
	border-left: 1px solid #fff;
	line-height: 1;
	font-weight: bold;
	vertical-align: middle;
	padding:0 5px 0;
}
.Btn_3clm li p.Btn {display: table; width: 100%;
	background-color: #f1efea;
	background-image: -moz-linear-gradient(top, #fff, #f1efea);
	background-image: -o-linear-gradient(top, #fff, #f1efea);
	background-image: -webkit-gradient(linear,left top,left bottom, from(#fff), to(#f1efea) );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff',EndColorStr='#f1efea')";
	border: 1px solid #d4ccc0;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
	height: 80px;
}
.Btn_3clm li:first-child p.Btn {border-top-left-radius: 6px;}
.Btn_3clm li:nth-child(n+4) p.Btn { border-top: medium none !important;}
.Btn_3clm li:nth-child(3n+1) p.Btn {border-right: none !important;}
.Btn_3clm li:nth-child(3) p.Btn {border-top-right-radius: 6px;}
.Btn_3clm li:nth-child(15) p.Btn {border-bottom-right-radius: 6px;}
.Btn_3clm li:last-child p.Btn{border-bottom-right-radius: 6px;}
.Btn_3clm li:nth-child(16) p.Btn { border-bottom-left-radius: 6px;}

/* 検索結果ページ */
.sec_h3.rice { background-image: url("../../image/sp/rice_icon.png");}
.sec_h3.noodle { background-image: url("../../image/sp/noodle_icon.png");}
.sec_h3.pasta { background-image: url("../../image/sp/pasta_icon.png");}
.sec_h3.pizza { background-image: url("../../image/sp/pizza_icon.png");}
.sec_h3.soup { background-image: url("../../image/sp/soup_icon.png");}
.sec_h3.nabe { background-image: url("../../image/sp/nabe_icon.png");}
.sec_h3.egg { background-image: url("../../image/sp/egg_icon.png");}
.sec_h3.meet { background-image: url("../../image/sp/meet_icon.png");}
.sec_h3.drink { background-image: url("../../image/sp/drink_icon.png");}
.sec_h3.fish { background-image: url("../../image/sp/fish_icon.png");}
.sec_h3.bread { background-image: url("../../image/sp/bread_icon.png");}
.sec_h3.dessert { background-image: url("../../image/sp/dessert_icon.png");}
.sec_h3.dressing { background-image: url("../../image/sp/dressing_icon.png");}
.sec_h3.saeweed { background-image: url("../../image/sp/saeweed_icon.png");}
.sec_h3.vegetable { background-image: url("../../image/sp/vegetable_icon.png");}
.sec_h3.soy { background-image: url("../../image/sp/soy_icon.png");}
.sec_h3.other { background-image: url("../../image/sp/other_icon.png");}
.subselectList ul li a {
padding: 5px 0 5px 10px;
color: #2f1708;
font-weight: bold;
text-decoration: none;
border-bottom: 1px solid #ece4d2;
display: block;
line-height: 25px;
background-image: url("../../image/sp/new/list_right_1.png");
background-repeat: no-repeat;
background-position: 97% 8px;
}
.subselectList ul li a.last {
font-size: 12px;
font-weight: bold;
background: #ece4d2;
background-image: url("../../image/sp/new/list_right_2.png");
background-repeat: no-repeat;
background-position: 97% 8px;
}
.ctg_list ul { margin: 0 15px;}
.ctg_list li { border-bottom: 1px dotted #666666; list-style: outside none none; min-height: 150px;}
.ctg_list li a { color: #333333; display: block; padding: 15px 0; text-decoration: none;}
.ctg_list li img { float: left; margin-right: 10px;}
.ctg_list li a h5 {
	color:#5B3219;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ctg_list li a p.description {
	font-size:11pt;
	color:#333;
	overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin:5px 0;
}
.ctg_list li a p {font-size: 10px; color:#86a727;}
.ctg_list li a p.tasty {background: none repeat scroll 0 0 #f7f7f7; border: 1px solid #cccccc; border-radius: 3px; display: inline-block; margin-top: 3px; padding: 0 3px; color:#333;}
.ctg_list li a p span { color: #ff6666; font-size: 12px; font-weight: bold;}
#otherway .recipeSearch {border:1px solid #c0b6ac; padding:0; margin:0 10px;}
#otherway .recipeSearch li {min-height:0px;}
#otherway .otherway { background:url(../../image/sp/bg_button.png) repeat top; color:#695d52; font-size:14px; font-weight:bold; padding:3px 10px; margin:10px 10px 0 ; border-width:1px 1px 0 1px; border-color:#c0b6ac; border-style:solid;}
#otherway .otherway i {padding-right:5px;}
.btn_searchAgain {text-align:center; margin:10px 0;}
.btn_searchAgain a {display: inline-block; background:url(../../image/sp/bg_button.png) repeat top; border:1px solid #c0b6ac; color:#695d52; padding:4px 0; text-decoration:none; width:90%; position:relative; box-sizing:border-box; font-weight:bold; }
.btn_searchAgain a:before { content: "\f002"; font-family: FontAwesome; position:absolute; left:10px; }

div.pickup {
	text-align:center;
}
div.pickup a {
  text-decoration: none;
  color: #4a1c00;
}
div.pickup div.pickupTitle{
  width: 94%;
  margin: 0 auto 10px;
  background: url(../../image/sp/icon-recipePickup.png) no-repeat;
  text-align: left;
}
div.pickup h2{
  padding-left: 30px;
}
/* 2016-09-09 add */
a.recipePickuph3 {
    color: #4a1c00;
}
div.recipePickupTitle{
  padding: 7px 2%;
  background: #fffaef;
  background-image: radial-gradient(#ffe4b3 20%, transparent 0), radial-gradient(#ffe4b3 20%, transparent 0);
  background-image: -webkit-radial-gradient(#ffe4b3 20%, transparent 0), radial-gradient(#ffe4b3 20%, transparent 0);
  background-image: -moz-radial-gradient(#ffe4b3 20%, transparent 0), radial-gradient(#ffe4b3 20%, transparent 0);
  background-position: 0 0, 8px 8px;
  background-size: 15px 15px;
}
div.recipePickupTitle h3 {
  float: left;
  width: 94%;
  margin-left: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
div.recipePickupTitle i {
  display: block;
  float: left;
  width: 5%;
  margin-top: 3px;
  text-align: right;
}
/* //2016-09-09 add */
div.pickup ul.bxslider{
  margin: 0 auto;
}

div.pickup .bx-wrapper {
  margin: 5px auto 40px;
}

div.pickup .bx-wrapper .bx-viewport{
	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
}

div.pickup .bx-wrapper img{
	margin:auto;
}

p.clear {
	padding:3px;
}

.ctg_list ul li.listads{
	padding:15px 0;
	min-height:50px;
	}

.ctg_list ul li.listads>div{
	margin: 0 -15px;
	}
/* カルーセル内料理名修正2015.7.27*/
div.pickup a.ichioshi {
  color: #5b3219;
  text-decoration: none;
  line-height: 16px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
}
div.pickup a.ichioshi p {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 18px;
  color: #fff;
  background-color: rgba(91,50,25,0.2);
  font-weight: bold;
  font-size: 17px;
  padding: 7px 10px;
  margin: 0 10px 0 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
div.pickup a.ichioshi p:after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 12px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 60%;
  margin: -9px 0 0 0;
  vertical-align: middle;
}