/* ----------------------------------------
	UXS001 標準フォントサイズを上げる
	＜変更前＞
    font: 14px/1.5 Helvetica,"Hiragino Kaku Gothic Pro",sans-serif;
---------------------------------------- */
/* common.css 20150121:12; */
body {
    font: 15px/1.6 Helvetica,"Hiragino Kaku Gothic Pro",sans-serif;
}

/* ----------------------------------------
	UXS003 「その他拠点の教室」の表示がズレている
---------------------------------------- */
/* school.css:208 */
#school dl.type1 a {
    text-align: left;
    display: inline;
}

/* ----------------------------------------
	UXS004 # レシピ ・材料名と分量が離れていて見づらい
---------------------------------------- */
/* school.css 20150121:3 */
.ingredient_row{
	padding: 5px;
	font-size: 1.1em;
}
/* school.css 20150907:1553 */
.ingredient_name{
	padding-left: 10px;
}
/* school.css 20150907:1546 */
.ingredient_amount{
	padding-right: 10px;
}

/* ----------------------------------------
	UXS005 レシピの作り方のフォントサイズが小さい
---------------------------------------- */
/* school.css 20150907:187 */
#school dt{
	font-size: 15px;
}
/* school.css 20150907:193 */
#school .type1 dd{
	font-size: medium;
}

/* レシピ説明文のフォントサイズ（スプレッドシートには記載なし） */
/* school.css 20150907:329 */
#school #top .recipetxt p {
    padding: 10px;
    font-size: 15px;
}

/* ----------------------------------------
	UXS007 # 教室検索「エリア選択」の文字が小さく見づらい

	※ローカル環境ではjsが機能せず、表示確認ができなかった為、
	本番環境（https://cookingschool.jp/s/search）を
	Chromeの開発ツールで調整しました。

	念のため実機でも確認をお願いします。
---------------------------------------- */
/* top.css 20160120:372; */
#selectsearch .select{
	margin: 5px 0;
}
/* top.css 20160120:377; */
#selectsearch .select select{
	height: 35px;
}

/* ----------------------------------------
	UXS008 レッスン内容・特徴のデザイン改修
---------------------------------------- */
/* school.css:340 */
#school #top li {
    float: left;
    width: auto;
    border-top: none;
    background: #FDF9EB;
    padding: 0 2px;
    margin: 5px 3px;
    border-radius: 4px;
}
/* school.css:362 */
#school #top li span{
	font-size: 15px;
}
/* school.css:372 */
#school #top li:nth-child(2), 
#school #top li:first-child{
	border-top: none;
}
/* school.css:375 */
#school #top li:nth-child(odd) span{
	border-right: none;
}

/* ----------------------------------------
	UXS011 教室ページ下部フロートのコンテンツ・デザイン変更
---------------------------------------- */
/* common.css 20150121:297 */
div#footerAreaSchool,
div#footerAreaMypage{
	padding-bottom: 10px;
}
/* common.css 20150121:320 */
div#footerAreaSchool ul li a,
div#footerAreaSchool ul li span{
	background-image: url("../image/sp/i_footer.png");
	/* 本番用
	background-image: url("../../image/sp/i_footer.png");
	*/
    background-repeat: no-repeat;
    background-size: 27px 450px;
    border-right: 1px solid #d0c6b0;
    display: block;
    font-size: 6px;
    font-weight: bold;
    height: 11px;
    padding: 28px 0 0;
    text-align: center;
    text-decoration: none;
}



/* ----------------------------------------
	スプレッドシートに記載がない修正点
---------------------------------------- */
/* レシピページ　SNSボタンのガタつきを調整 */
/* school.css 20150907:1454 */
.appealBox .fbbtn {
    margin-top: -1px;
}