@charset "UTF-8";
html {
    background: none repeat scroll 0 0 #ffffff;
}
#school .clm {
    border-bottom: 1px dotted #666666;
    margin: 0 10px 15px;
    overflow: hidden;
}
#school .theme {
    padding-top: 10px;
    width: 100%;
}
#school div.theme_dtl dt, #school div.theme2 dl dt {
    color: #5b3219;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#school div.theme_dtl dd, #school div.theme2 dl dd {
    display: inline-block;
    font-size: small;
    margin: 0;
    padding: 0;
}
#school .theme1 {
    overflow: hidden;
}
#school .theme1 .theme_ttl, #school .theme2 .theme_ttl {
    color: #5b3219;
    font-size: 12px;
    font-weight: bold;
}
#school .theme1 .theme_dtl p, #school .theme2 p {
    display: block;
    font-size: 11pt;
}
#school .theme .clm div a {
    clear: both;
    color: #ff6601;
    display: block;
}
#school .theme .clm div.no a.switch {
    background: url("../../image/sp/bg_arrow_b.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school .theme .clm div.on a.switch {
    background: url("../../image/sp/bg_arrow_t.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school .theme .clm div.on a.nomark {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#school .theme .clm div.on a.reserve {
    text-align: center;
}
#school .theme .clm .theme2 .lessonphoto a, #school .theme .clm .theme2 .photoLesson a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-align: center;
}
#school .theme2 {
    display: none;
}
#school .theme2 p.lessonphoto, #school .theme2 p.photoLesson {
    margin-top: 10px;
    text-align: center;
}
#school .theme2 p.lessonphoto img, #school .theme2 p.photoLesson img {
    border: 4px solid #f8ecd5;
}
#school .theme2 dl.type1 {
    clear: both;
    margin: 0;
}
#school .theme2 .lessonmenu dd {
    border: 1px solid #f7ead2;
    border-radius: 3px;
    display: block;
    font-size: small;
    margin-bottom: 5px;
    padding: 6px;
}
#schedule .monthttl {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.theme1 .clm div.theme_dtl dl dd a {
    font-weight: normal;
}
.theme .clm div.theme1 {
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}
.theme .clm div.theme1 a {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#school .theme1 .theme_dtl p.description, .theme .clm div.theme1 .theme_dtl p.description {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height:18px;
}

.theme1 .theme_dtl p.menu {
    color: #5b3219;
    font-size: 11pt;
    font-weight: bold;
    line-height: 1.2em;
}

div.theme_dtl dt {
    color: #5b3219;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div.theme_dtl dd, div.theme_dtl dd a {
    color: #5b3219;
    display: inline;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
div.theme_dtl ul li {
    color: #86a727;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.theme_dtl ul.date {
    margin-top: 5px;
}
#searchlist {
    margin-top: 10px;
}
.lesson_icon {
    font-size: small;
    margin: 5px 0 0;
}
.lesson_icon ul.option li {
    float: left;
    list-style: outside none none;
    padding-right: 5px;
}
.clm {
    border-bottom: 1px dotted #666666;
    margin: 0 10px 15px;
}
.theme2 {
    display: none;
}
.theme2 p.lessonphoto img {
    border: 4px solid #f8ecd5;
}
.theme .clm div.on a.reserve {
    text-align: center;
}
.areaSelect {
    border: 1px solid #c0b6ac;
    padding: 10px;
}
.areaSelect fieldset:first-child legend {
    border-top: 1px solid #ece4d2;
}
.otherway {
    background: url("../../image/sp/bg_button.png") repeat scroll center top rgba(0, 0, 0, 0);
    border-color: #c0b6ac;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #695d52;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 3px 10px;
}
.otherway i {
    padding-right: 5px;
}
.btn_searchAgain {
    margin: 10px 0;
    text-align: center;
}
.btn_searchAgain a {
    background: url("../../image/sp/bg_button.png") repeat scroll center top rgba(0, 0, 0, 0);
    border: 1px solid #c0b6ac;
    box-sizing: border-box;
    color: #695d52;
    display: inline-block;
    font-weight: bold;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    width: 90%;
}
.btn_searchAgain a::before {
    content: "";
    font-family: FontAwesome;
    left: 10px;
    position: absolute;
}
#searchlist span.icon_book {
    background: none repeat scroll 0 0 #5b3219;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 1em;
    margin: 0 0 3px;
    padding: 3px 5px;
}
#searchlist span.icon_full {
    background: none repeat scroll 0 0 #d93030;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 1em;
    margin: 0 0 3px;
    padding: 3px 8px;
}
#school .lesson_icon {
    clear: both;
    font-size: small;
    margin: 5px 0 0;
}
#school .lesson_icon ul.option li {
    float: left;
    list-style: outside none none;
    padding-right: 5px;
}
#school dt {
    color: #5b3219;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}
#school dl.type1, #school dl.type2 {
    clear: both;
    font-size: 14px;
    margin: 0 15px 15px;
}
#school .type1 dd {
    border: 1px solid #f7ead2;
    border-radius: 3px;
    display: block;
    font-size: small;
    padding: 6px;
}
#school .type1 dd a {
    color: #ff6601;
    display: block;
    text-align: right;
}
#school .type1 dd.no a {
    background: url("../../image/sp/bg_arrow_b.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school .type1 dd.on a {
    background: url("../../image/sp/bg_arrow_t.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school .type1 dd.no span.on {
    display: none;
}
#school dd a.center {
    text-align: center;
}
#school dd a.left {
    text-align: left;
}
#school dd.reset {
    border: medium none;
    border-radius: 0;
    padding: 0;
}
#school .type2 dd {
    background: url("../../image/sp/bg_arrow.png") no-repeat scroll right center / 16px 23px rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-top: 1px solid #f7ead2;
}
#school .type2 dd:last-child {
    border-bottom: 1px solid #f7ead2;
}
#school .type2 dd a {
    border-left: 1px solid #f7ead2;
    border-radius: 3px;
    border-right: 1px solid #f7ead2;
    color: #ff6601;
    display: block;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
}
#school .type2 dd a img {
    margin: 0 0 0 10px;
    vertical-align: middle;
}
#school section.schoolnews {
    background: none repeat scroll 0 0 #fdf9eb;
    border-radius: 3px;
    margin: 0 15px 15px;
    padding: 10px;
}
#school section.schoolnews ul {
    font-size: 12px;
    list-style-type: none;
}
#school section.schoolnews time {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
}
#school section.schoolnews li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #b99984;
    border-image: none;
    border-radius: 0;
    border-style: none none dotted;
    border-width: medium medium 1px;
    display: block;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#school section.schoolnews li a {
    display: block;
    padding: 0 0 35px;
}
#school section.schoolnews li.no a {
    background: url("../../image/sp/bg_arrow_b.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school section.schoolnews li.on a {
    background: url("../../image/sp/bg_arrow_t.png") no-repeat scroll center bottom / 36px 25px rgba(0, 0, 0, 0);
}
#school section.schoolnews li.no span.on {
    display: none;
}
#school section.schoolnews li:last-child {
    border: 0 none;
    margin: 0;
}
#school #top ul {
    border: 1px solid #f7ead2;
    border-radius: 3px;
    display: block;
    font-size: small;
}
#school #top li {
    border-top: 1px solid #f7ead2;
    display: block;
    float: left;
    width: 50%;
}
#school #top li.ingredient {
    border-top: 1px solid #f7ead2;
    display: block;
    float: left;
    font-size: small;
    width: 70%;
}
#school #top li.ingredient2 {
    border-top: 1px solid #f7ead2;
    display: block;
    float: right;
    font-size: small;
    text-align: right;
    width: 30%;
}
#school #top li span {
    display: block;
    font-size: 10px;
    padding: 6px 3px;
}
#school #top li:nth-child(2), #school #top li:first-child {
    border-top: medium none;
}
#school #top li:nth-child(2n+1) span {
    border-right: 1px solid #f7ead2;
}
#school #top .lessonphoto {
    padding: 0;
    text-align: center;
}
#school #top .lessonphoto span {
    height: 60px;
    margin: 0 2px;
    padding: 0;
    width: 60px;
}
#school #top h3, h3.newsttl {
    background: url("../../image/sp/clip.png") no-repeat scroll 5px center / 17px 15px #f9efdd;
    border-bottom: 1px dotted #5a3219;
    color: #5a3219;
    margin-bottom: 15px;
    padding: 6px 6px 6px 25px;
}
#school #top .profile {
    margin: 0 15px;
}
#school #top .profile img {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
}
#school #top .profile p {
    color: #5a3219;
    font-size: 12px;
}
#school #top .profile p.teacher {
    font-size: 14px;
}
#school #top .otherpage {
    border-top: 1px dotted #ccc;
}
#school #top .otherpage table {
    width: 100%;
}
#schedule p.month {
    background: none repeat scroll 0 0 #f6f6f6;
    border-top: 1px solid #9d8678;
    color: #5a3219;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 0 0;
    text-align: center;
}
#schedule p.month a.prev {
    float: left;
    padding-left: 10px;
}
#schedule p.month a.next {
    float: right;
    padding-right: 10px;
}
#schedule a.schedulehide {
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 10px;
    margin: 10px;
    padding: 3px 8px;
    text-decoration: none;
}
#schedule table {
    margin-bottom: 15px;
    width: 100%;
}
#schedule table th {
    border-bottom: 1px solid #aaaaaa;
    padding: 4px;
}
#schedule table th.sun, #schedule table td.sun {
    background: none repeat scroll 0 0 #ffe4e4;
}
#schedule table th.sat, #schedule table td.sat {
    background: none repeat scroll 0 0 #e4ffff;
    border-right: medium none;
}
#schedule table td {
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    height: 40px;
    padding: 3px;
    width: 14%;
}
#schedule table span {
    display: block;
    font-weight: bold;
}
#schedule table span.gray {
    color: #999999;
}
#schedule table a {
    color: #ff9900;
    font-size: 15px;
}
#schedule a.btn {
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 10px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}
.btn-area {
    margin: 0 0 15px;
    width: 100%;
}
.btn-area td {
    width: 30%;
}
.btn-area td a {
    margin: 5px;
}
#lean_overlay {
    background: none repeat scroll 0 0 #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.Modalbox {
    background: none repeat scroll 0 0 #fffaef;
    border: 3px solid #f8ecd5;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    width: 90%;
}
.Modalbox h3 {
    background: url("../../image/sp/time.png") no-repeat scroll left center / 16px 16px #fffaef;
    border-bottom: 1px solid #d69650;
    color: #d69650;
    font-size: 14px;
    line-height: 100%;
    margin: 0 10px;
    padding: 7px 6px 6px 20px;
}
.modal_close {
    background: url("../../image/sp/modal_close.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 14px;
    z-index: 2;
}
.Modalbox ul {
    background: none repeat scroll 0 0 #fffaef;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 8px 10px;
    max-height: 200px;
    overflow: scroll;
    padding: 8px;
}
.Modalbox li {
    background: url("../../image/sp/lesson-arrow.png") no-repeat scroll right center / 7px 13px rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #cccccc;
    display: block;
    list-style: outside none none;
}
.Modalbox li a {
    color: #593219;
    display: block;
    font-size: 12px;
    padding: 5px 15px 5px 5px;
    text-decoration: none;
}
.Modalbox li span {
    display: inline-block;
    float: right;
    font-weight: normal;
    padding-left: 10px;
}
.Modalbox li:last-child {
    border: medium none;
}
#school #lesson h3 {
    background: url("../../image/sp/clip.png") no-repeat scroll 5px center / 17px 15px #f9efdd;
    border-bottom: 1px dotted #5a3219;
    color: #5a3219;
    margin-bottom: 15px;
    padding: 6px 6px 6px 25px;
}
#school #lesson h3.lessonttl {
    margin-bottom: 3px;
}
#lessonttl {
    color: #5b3219;
}
#school #lesson ul.option {
}
#school #lesson ul.option li {
    float: left;
    list-style: outside none none;
    padding-left: 10px;
}
#school #lesson .reserv a {
    background: linear-gradient(to bottom, #ffba54 1%, #ff9c00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ff9c00;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 10px 15px 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 #da9f5f;
}
#school #lesson .reserv a.on {
    background: none repeat scroll 0 0 #c66;
    border: 1px solid #cc3333;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 #cc3333;
}
#school #lesson .reserv a.off {
    background: none repeat scroll 0 0 #e0e0e0;
    border: 1px solid #cccccc;
    color: #999999;
    font-weight: bold;
    text-shadow: none;
}
#school #lesson p {
    font-size: 12px;
    margin: 15px;
}
#school #lesson .lessonphoto {
    margin-bottom: 15px;
    text-align: center;
}
#school #lesson .lessonphoto img {
    border: 4px solid #f8ecd5;
}
#school #lesson a.addlesson {
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 10px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
}
#school {
    border-top: 5px solid #5b3219;
    margin: 10px 0;
}
#school h2 {
    background: none repeat scroll 0 0 #e7d8a5;
    box-shadow: 0 0 5px #666666;
    color: #5a3219;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 3px 6px;
}
#school h2 span {
    font-size: 12px;
    font-weight: normal;
}
#school #photo {
    text-align: center;
}
#school #photo ul {
    margin: 15px;
}
#school #photo li {
    display: block;
    float: left;
    height: 175px;
    margin-bottom: 15px;
    width: 48%;
}
#school #photo li:nth-child(2n+1) {
    margin-right: 10px;
}
#school .gentei {
    background: none repeat scroll 0 0 #e7ae69;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: block;
    margin: 0 10px 10px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #da9d5a;
}
#school #recipe .recipebox {
    margin: 0 15px;
}
#school #recipe .recipebox li {
    border-bottom: 2px solid #f7ead2;
    list-style: outside none none;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#school #recipe .recipebox li.detail {
    border: medium none;
    margin: 0 0 8px -11px;
    padding: 0;
}
#school #recipe .recipebox li a.box {
    background: url("../../image/sp/lesson-arrow.png") no-repeat scroll right center / 7px 13px rgba(0, 0, 0, 0);
    color: #5b3219;
    display: block;
    padding: 15px 15px 15px 0;
    text-decoration: none;
}
#school #recipe .recipebox li img {
    float: left;
    margin-right: 10px;
}
#school #recipe .recipebox h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #5b3219;
    margin: 0;
    padding: 0;
}
#school #recipe .recipebox p {
    font-size: 10px;
}
#school #recipe .recipebox li p.tasty {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3px;
    padding: 0 3px;
}
#school #recipe .recipebox li p span {
    color: #ff6666;
    font-size: 12px;
    font-weight: bold;
}
#school #recipe .recipebox li a.favobtn, #school #recipe .recipebox li span.favobtn {
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
}
#school #recipe .recipebox li a.favobtn {
    color: #333;
}
#school #recipe .recipebox li span.favobtn {
    color: #aaa;
}
#school #recipe .recipebox li a.favobtn span, #school #recipe .recipebox li span.favobtn span {
    background: url("../../image/sp/favo.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    padding-left: 15px;
}
#school #voice {
}
#school #voice dl {
    margin: 0 15px 15px;
}
#school #voice dt {
    background: url("../../image/sp/voiceicon.png") no-repeat scroll 5px center / 19px 15px #fffaef;
    border-bottom: 1px dotted #d69650;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    padding: 6px 6px 6px 28px;
}
#school #voice dt span {
    color: #d69650;
    font-size: 14px;
}
#school #voice dd {
    border: medium none;
    border-radius: 0;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 6px;
}
#school #voice dd span {
    background: none repeat scroll 0 0 #f6f6f6;
    border-radius: 3px;
    color: #999;
    display: block;
    font-size: 9px;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: right;
}
#school #voice dd img {
    float: left;
    margin: 5px 5px 5px 0;
}
#school .comment p.commttl {
    background: url("../../image/sp/voiceicon2.png") no-repeat scroll left center / 19px 15px rgba(0, 0, 0, 0);
    border-bottom: 2px dotted #5b3219;
    border-radius: 0;
    color: #5b3219;
    font-size: 15px;
    font-weight: bold;
    margin: 25px 15px 0;
    padding: 0 0 0 25px;
}
#school .comment p {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 15px;
    padding: 7px;
}
#school .comment .error p {
    color: #d53d3d;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    margin: 0;
}
#school .comment p span {
    display: block;
    font-size: 10px;
    padding-top: 10px;
}
#school .comment span {
    display: block;
    margin: 3px 15px;
}
#school .comment .commTxt {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 3px 15px;
    min-height: 100px;
    padding: 3px;
    width: 88%;
}
#school .comment .commImg {
    margin: 3px 15px;
    padding: 3px;
    width: 88%;
}
#school .comment .appendedimg {
    background: none repeat scroll 0 0 #f7f7f7;
    float: left;
    margin: 0 15px;
    min-height: 60px;
    padding: 10px;
    text-align: center;
    width: 48%;
}
#school .comment a.appended {
    background: linear-gradient(to bottom, #f8f8f8 0%, #e7e7e7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    margin-top: 55px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
}
#school .comment {
    margin-bottom: 30px;
}
#school #blog {
}
#school #blog dl {
    margin: 0 15px 15px;
}
#school #blog dt {
    background: url("../../image/sp/clip.png") no-repeat scroll 5px center / 19px 15px #fffaef;
    border-bottom: 1px dotted #d69650;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    padding: 6px 6px 6px 28px;
}
#school #blog dt span {
    color: #d69650;
    font-size: 14px;
}
#school #blog dd {
    border: medium none;
    border-radius: 0;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 6px;
}
#school #blog dd span {
    background: none repeat scroll 0 0 #f6f6f6;
    border-radius: 3px;
    color: #999;
    display: block;
    font-size: 9px;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: right;
}
#school #blog dd img {
    float: left;
    margin: 5px 5px 5px 0;
}
div.news {
}
div.news div.trigger {
    background: url("../../image/sp/newsicon.png") no-repeat scroll 3px 8px / 15px 13px #f66;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 6px 6px 23px;
}
div.news dl {
    background: none repeat scroll 0 0 #fffaef;
    border: 3px solid #5b3219;
    border-radius: 5px;
    color: #454545;
    font-size: 12px;
    margin: 10px;
    padding: 10px 10px 0;
}
.trigger span.open-close {
    background: url("../../image/sp/point_plus.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    text-indent: -9999em;
    width: 20px;
}
.active span.open-close {
    background: url("../../image/sp/point_none.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}
.organizerPhoto {
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}
div.otherRecipes {
    margin-top: 15px;
}
div.otherRecipes h4 {
    background: none repeat scroll 0 0 #5b3219;
    color: #fff;
    font-size: 11px;
    padding: 5px 5px 5px 10px;
}
div.otherRecipes ul {
    margin: 0 15px;
}
div.otherRecipes li {
    border-bottom: 1px dotted #666666;
    list-style: outside none none;
    min-height: 90px;
}
div.otherRecipes li a {
    color: #333333;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
div.otherRecipes li img {
    float: left;
    margin-right: 10px;
}
div.otherRecipes li a h5 {
    color: #5b3219;
}
div.otherRecipes li a p {
    font-size: 10px;
}
div.otherRecipes li a p.tasty {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3px;
    padding: 0 3px;
}
div.otherRecipes li a p span {
    color: #ff6666;
    font-size: 12px;
    font-weight: bold;
}
div.otherRecipes p.search {
    background: none repeat scroll 0 0 #fffaef;
    display: block;
    margin: 0 15px 15px;
    padding: 8px;
    text-align: right;
}
div.otherRecipes p.search a {
    color: #5b3219;
    font-size: 12px;
}
table.displaySelect {
    background-color: #f6f6f6;
    border: 1px dotted #cccccc;
    margin: 0 auto 10px;
    width: 90%;
}
table.displaySelect td {
    color: #333333;
    padding: 3px 15px;
}
table.displaySelect td a {
    color: #333333;
    display: block;
}
table.displaySelect td em {
    font-style: normal;
    font-weight: bold;
}