#schoolName h1,
#search_header h1{
  width: 95%;
  margin: 0 auto;
  font-size: 17px;
  padding: 20px 0 10px;
  background: #ffffff;
  color: #5b3219;
  text-align: center;
  overflow: hidden;
}
#search_header h1{
  padding-bottom: 0;
}